<br>
<form #f= "ngForm"(ngSubmit)= "onSubmit(f)" class="form-horizontal">
    <div class="form-goup">
        <div class="col-sm-12">
            <label class="control-label" for="nome">Nome</label>
        </div>
        <div class="col-sm-12">
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome"
             required #nome="ngModel"[(ngModel)] = "curso.nome">
        </div>
    </div>
    <div class="form-goup">
        <div class="col-sm-12">
            <label class="control-label" for="descricao">Descrição</label>
        </div>
        <div class="col-sm-12">
            <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição" 
            required #descricao ="ngModel"[(ngModel)]= "curso.descricao" >
        </div>
    </div>
    <div class="form-goup">
        <div class="col-sm-12">
            <label class="control-label" for="email">E-mail contato</label>
        </div>
        <div class="col-sm-12">
            <input email class="form-control" type="email" name="email" id="email" placeholder="e-mail contato" 
            #email = "ngModel" [(ngModel)] = "curso.email">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submeter</button>

</form>